<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" 
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="acct_mgr">
  <xi:include href="layout.html" />
  <?python
    if _dgettext is not None:
        dgettext = _dgettext ?>
  <head>
    <title>Login</title>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $("body").addClass("login");
        $('#user')[0].focus();
    });
    </script>
  </head>

  <body>
      <div id="content" class="login">

      <h1>Login</h1>

      <form method="post" id="acctmgr_2faform" action="">
        <div>
          <input type="hidden" name="referer" value="${referer}" />
        </div>
        <div>
          <input type="hidden" name="2fa" value="1" />
        </div>
        <div>
          <input type="hidden" name="user" value="${user}" />
        </div>
        <div class="textbox">
          <label for="user">Authentication code:</label><br />
          <input type="text" id="2fa_code" name="2fa_code" class="textwidget"
                 size="20" />
        </div>        
        <div id="login_options" class="buttons central nav">
          <input type="submit" value="${dgettext('acct_mgr', 'Login')}" />
        </div>
      </form>

    </div>

    <div class="central system-message" py:if="login_error">
      <h2>Error</h2>
      <p>${login_error}</p>
    </div>
    <div class="spacer" py:if="not login_error"></div>

  </body>
</html>
